/* Write your CSS here */
.list-item {
  list-style: none;
  width: 90%;
  margin-right: 20px;
  margin-left: 20px;
}
.button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.active-image {
  border: 2px solid transparent;
  width: 100%;
  border-radius: 10px;
}

image {
  border: none solid transparent;
}
.name {
  font-size: 20px;
  color: #ffffff;
}
.location {
  color: #ffffff;
  font-size: 20px;
}
